@use '../helpers' as *;

.contact {
  &__inner {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    margin-top: rem(50);
    gap: rem(20);

    @include mobile {
      margin-top: rem(30);
    }
  }

  &__title {
    @include fluid-text(50, 30);

    text-align: center;
    font-weight: 700;
  }

  &__list {
    display: flex;
    gap: rem(20);

    @include mobile {
      gap: rem(8);
    }

  }

  &__item {
    padding: rem(15) rem(20);
    text-align: center;
    color: var(--color-base);
    background-color: var(--color-accent);
    border-radius: rem(30);
    transition-duration: var(--transition-duration);
  }

  &__link {
    color: var(--color-additional-1);

    &:hover {
      color: var(--color-base);
    }
  }
}